.dishcard {
    border: 2px solid #017bef;
    padding: 2px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #ccc;
    max-width: 300px;
    text-align: center;
    font-family: arial;
}

    .dishcard h3 {
        font-size: 50px;
        margin-bottom: 100px;
    }

    .dishcard p {
        font-size: 36px;
    }
