
<div class="dishcard">
    <img class="my_logo-img" src="Images/sample.jpg" width="300">
    <h3>rrrrr</h3>
    <p>yyy</p>
</div>

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Text { get; set; }
}
