
<div class="dishcard">
    <img src="Images\sample.jpg" alt="Sample dish" style="width:100%">
    <h3>Spicy rice</h3>
    <p>Easy</p>
</div>

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Text { get; set; }
}
